/* Custom styles for responsiveness */
.custom {
  position: absolute;
  left: 0;
  top: 7%;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  height: 600px;
  max-height: fit-content;
}

.custom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 240px;
  bottom: 0;
  top: 380px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom {
    height: 400px;
    max-height: fit-content;
  }

  .custom svg {
    height: 150px;
    top: 250px;
  }

  .About-2 {
    display: none; /* Hide on mobile and tablet screens */
  }
}

@media (min-width: 768px) {
  .custom {
    height: 600px;
  }

  .custom svg {
    height: 240px;
    top: 380px;
  }

  .About-2 {
    display: block; /* Show on medium and larger screens */
  }
}

.About-1 {
  background-color: #f09292;
  width: 300px;
  height: 330px;
  border-radius: 48% 25% 50% 25% / 62% 46% 54% 35%;
  box-shadow: 5px 15px 40px 2px gray;
  background-image: url('../src/assets/myimg.jpg');
  background-size: 120%;
  background-position: center 90%;
  background-repeat: no-repeat;
}

.About-2 {
  background-color: transparent;
  width: 400px;
  height: 350px;
  border-radius: 48% 25% 50% 25% / 62% 46% 54% 35%;
  box-shadow: 20px 20px 50px 1px rgb(248, 228, 228);
  background-image: url('../src/assets/Computer2.png');
  background-size: 100%;
  background-position: center 130%;
  background-repeat: no-repeat;
}


